<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Maciej Hyrycz</h3>
    <nav class="nav nav-masthead">
      <%= navbar_helper('nav-link app-nav', 'span') %>
      <%= login_helper('nav-link app-nav') %>
    </nav>
  </div>
</div>
